{% extends 'blog/base.html' %}
{% load static %}

{% block bord %}
<section id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div style="text-align: center">
                <form method="POST">
                    <br>
                    {% csrf_token %}
                    <table>
                        {{form.as_table}}
                    </table>
                    <button type="submit">작성</button>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}