{% extends 'blog/base.html' %}
{% load static %}

{% block bord %}
<div class="row gx-4 gx-lg-5 justify-content-center">
<section id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0"></h2>
        <hr class="divider" />
        <!-- Searcher -->
        <div class="dropdown">
              {% for hashtag in hashtags.all %}
              <a class="dropdown-item" href="{% url 'search' hashtag.id %}">{{ hashtag.name }}</a>
              {% endfor %}
        </div>
            <hr><br>
        {% for blogs in blogs.all %}
        <h1>제목 :<a href="{% url 'detail' blogs.id %}">{{ blogs.title }}</a></h1>
        <p>작성자 : {{ blogs.writer }}</p>
        <p>작성 일자 및 시간 : {{ blogs.pub_date }}</p>
        {% if blogs.image %}
            <img src="{{ blogs.image.url }}" width="250" height="250" alt="Card image cap">
        {% endif %}
        <br>
        <br>
        {% endfor %}
        <hr>
      </div>
</section>
</div>
<br>
{% endblock %}